/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Special+Elite&family=Waiting+for+the+Sunrise&display=swap');

/*==================== VARIABLES CSS ====================*/
:root{
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 236; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 100%, 50%);
    --first-color-second: hsl(var(--hue-color), 75%, 35%);
    --first-color-alt: hsl(var(--hue-color), 100%, 20%);
    --first-color-lighter: hsl(var(--hue-color), 33%, 85%);
    --title-color: hsl(var(--hue-color), 100%, 33%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #1a1a1a;

    /*========== Font and typography ==========*/
    --body-font-destaque: 'Road Rage', cursive;
    --body-font-titulo: 'Shadows Into Light', cursive;
    --body-font-texto: 'Waiting for the Sunrise', cursive;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font-destaque);
    font-size: var(--normal-font-size);
    background-color: var(--container-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/


/*==================== LAYOUT ====================*/
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.center__container{
    text-align: center;
}

.grid__container{
    align-self: center;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.iconeskt__titulo{
    margin-right: 3rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.calendar__container{
    height: 40rem;
    background-image: url(../img/fundos/solo_banks.jpg);
    background-size: cover;
    background-position: top center;
}

.nois__container{
    height: 40rem;
    background-image: url(../img/fundos/fundo_chafariz.jpg);
    background-size: cover;
    background-position: top center;
    margin-bottom: 15rem;
}

/*==================== NAV ====================*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--h1-font-size);
}

#logo__menu {
    font-size: var(--h1-font-size);
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav_toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: var(--first-color);
}

.uil {
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--normal-font-size);
}

.nav__link:hover{
    color: var(--first-color-alt);
}

.nav__icon{
    font-size: 1.2rem;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover{
    color: var(--first-color-alt);
}

/* show menu */
.show-menu{
    bottom: 0;
}

/* Active link */


/* Change background header */

/*==================== AGENDA ====================*/
.title__principal {
    padding-top: 1rem;
    padding-left: .9rem;
    margin-bottom: -8px;
}

.grid__agenda{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*==================== NOIS ====================*/

.title__principal {
    padding-top: 1rem;
    padding-left: .9rem;
    margin-bottom: -8px;
}

.grid__nois{
    display: grid;
    grid-template-columns: .70fr .30fr;
    padding-left: 16rem;
    padding-top: 2rem;
}

.direita__nois{
    padding-right: 14rem;
    margin-left: -18rem;
}

table td{
    padding: 10px;
}

.iconeskt__titulo__nois{
    margin-right: 2rem;
}



/*================= RESPONSIVIDADE =================*/

@media (max-width: 600px) {
    .grid__nois{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding-left: 0;
    }
    .direita__nois{
        margin: 0 auto;
        padding: 5px;
        padding-top: 2rem;
    }
    .nois__container{
        height: 50rem;
    }
}