<html>
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div th:each="produto : ${produtos}">
            <div th:text="${produto.nome}">Nome do Produto</div>
            <div th:text="${produto.estadoConservacao}">Estado de conservação</div>
            <div th:text="${produto.trocaOuDoacao}">Troca ou Doação ?</div>
            <div>Data da Troca/Doação: <span th:text="${produto.dataTroca}">22/02/2022</span></div>
            <div>Detalhes</div>
            <div>
                <textarea th:text="${produto.detalhes}">Falae como tá</textarea>
            </div>
                <img th:src="${produto.urlImagem}" src=""/>
            </div>
            
        </div>
    </body>
</html>