@media (min-width: 600px) {
    .destaques {
        width: 90%;
        align-items: flex-end;
        margin-left: auto;
    }

    .video__container {
        padding: 0 10px;
    }

    .listaVideosDestaque {
        margin-top: -30px;
    }

    .grid__agenda__geral {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        align-items: center;
    }

    .grid__agenda__iconeEsquerda {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
        align-items: center;
    }
    
    .grid__agenda__iconeDireita {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        padding-left: 30px;
    }
}

.destaques h1 {
    color: var(--fonte-texto-destaque);
    text-align: center;
    padding: .5rem 0;
    font-weight: 100;
}

.listaVideosDestaque li {
    background-color: var(--bg-fundo-destaque);
    font-size: 12px;
    padding: 1em 0;
    margin: 5px 0;
    text-align: center;
    border: 1px solid var(--fonte-texto);
    border-radius: 5px;
    list-style: none;
}

.listaVideosDestaque li:hover {
    background-color: var(--cinza-escuro);
}

.listaVideosDestaque button {
    border: none;
    width: 100%;
    height: auto;
    cursor: pointer;
    background-color: var(--bg-fundo);
}

.listaVideosDestaque a {
    text-decoration: none;
}


.listaVideosDestaque {
    padding: 5px;
    margin-bottom: 10px;
}

.embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* essa porcentagem porque o video esta em 16:9
    regra de 3 - 16x9 = 1920x180
                 16 = 100% // 9 = ?
                 9 / 16 = 0,5625 * 100 = 56.25
    */
}

.embed iframe {
    position: absolute;
    width: 100%;
    height: 95%;
    border: none;
}

.videoEscondido {
    display: none;
}

/* -------------- Programacao - Agenda --------------- */

.grid__agenda__iconeEsquerda {
    display: grid;
    grid-template-columns: 170px 1fr;
    text-align: left;
    align-items: center;
    padding-left: 30px;
}

.grid__agenda__iconeDireita {
    display: grid;
    grid-template-columns: 1fr 150px;
    text-align: left;
    align-items: center;
    padding-left: 30px;
}

.grid__agenda__iconeDireita li {
    padding-bottom: 10px;
}



.programacao h1 {
    margin-bottom: 10px;
}

.programacao a, li {
    color: var(--fonte-texto);
    text-decoration: none;
}